@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.paciCheckbox::before {
	background-image: url("https://raw.githubusercontent.com/FurryZoi/Littlish-Club/refs/heads/main/src/images/pacifier.png") !important;
	background-size: cover !important;
    clip-path: none !important;
    background-color: unset !important;
}